In [5]:
import numpy as np
import pandas as pd

In [9]:
# help
pd?

Type:        module
String form: <module 'pandas' from 'C:\\Users\\Windows10\\anaconda3\\lib\\site-packages\\pandas\\__init__.py'>
File:        c:\users\windows10\anaconda3\lib\site-packages\pandas\__init__.py
Docstring:
pandas - a powerful data analysis and manipulation library for Python
=====================================================================

**pandas** is a Python package providing fast, flexible, and expressive data
structures designed to make working with "relational" or "labeled" data both
easy and intuitive. It aims to be the fundamental high-level building block for
doing practical, **real world** data analysis in Python. Additionally, it has
the broader goal of becoming **the most powerful and flexible open source data
analysis / manipulation tool available in any language**. It is already well on
its way toward this goal.

Main Features
-------------
Here are just a few of the things that pandas does well:

  - Easy handling of missing data in floating point as well as non-floating
    point data.
  - Size mutability: columns can be inserted and deleted from DataFrame and
    higher dimensional objects
  - Automatic and explicit data alignment: objects can be explicitly aligned
    to a set of labels, or the user can simply ignore the labels and let
    `Series`, `DataFrame`, etc. automatically align the data for you in
    computations.
  - Powerful, flexible group by functionality to perform split-apply-combine
    operations on data sets, for both aggregating and transforming data.
  - Make it easy to convert ragged, differently-indexed data in other Python
    and NumPy data structures into DataFrame objects.
  - Intelligent label-based slicing, fancy indexing, and subsetting of large
    data sets.
  - Intuitive merging and joining data sets.
  - Flexible reshaping and pivoting of data sets.
  - Hierarchical labeling of axes (possible to have multiple labels per tick).
  - Robust IO tools for loading data from flat files (CSV and delimited),
    Excel files, databases, and saving/loading data from the ultrafast HDF5
    format.
  - Time series-specific functionality: date range generation and frequency
    conversion, moving window statistics, date shifting and lagging.

In [11]:
# print version of pandas
pd.__version__

'1.2.4'

In [13]:
"""
Pandas Object: Series
"""
ser = pd.Series([0.25, 0.5, 0.75, 1.0])
print(ser)

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [15]:
"""
Values, index
"""
arr = ser.values
print(arr)

ind = ser.index
print(ind)

[0.25 0.5  0.75 1.  ]
RangeIndex(start=0, stop=4, step=1)

In [17]:
"""
Label-based indexing
"""
ser = pd.Series([0.25, 0.5], index = ['a', 'b'])
print(ser)

a    0.25
b    0.50
dtype: float64

In [23]:
"""
Creating a series from a dictionary
"""
population_dict = {'Cal' : 383, 'Tex' : 264, 'Ny' : 200}
population = pd.Series(population_dict)
print(population)

Cal    383
Tex    264
Ny     200
dtype: int64

In [26]:
"""
Pandas Object : dataframe
"""
area_dict = {'Cal' : 423, 'Tex' : 695, 'Ny' : 123}
area = pd.Series(area_dict)
print(area)

Cal    423
Tex    695
Ny     123
dtype: int64

In [33]:
# dataframe
states = pd.DataFrame({'population' : population, 'area' : area})
print(states)
print(states.index)

     population  area
Cal         383   423
Tex         264   695
Ny          200   123
Index(['Cal', 'Tex', 'Ny'], dtype='object')

In [38]:
arr = np.random.rand(2, 2)
print(arr, '\n')

dat = pd.DataFrame(arr, columns = ['foo', 'bar'], index = ['a', 'b'])
print(dat)

[[0.34427788 0.66674533]
 [0.16698053 0.06963924]]

        foo       bar
a  0.344278  0.666745
b  0.166981  0.069639

In [43]:
"""
Ser dict style
"""
ser = pd.Series([0.25, 0.5, 1.0], index = ['a', 'b', 'c'])
print(ser)
print('a' in ser)
print(0.25 in ser)

print(ser.index)

a    0.25
b    0.50
c    1.00
dtype: float64
True
False
Index(['a', 'b', 'c'], dtype='object')

In [46]:
"""
수정
"""
print(ser.keys())
ser['d'] = 1.25
ser['a'] = 0.1
print(ser)

Index(['a', 'b', 'c', 'e', 'd'], dtype='object')
a    0.10
b    0.50
c    1.00
e    1.25
d    1.25
dtype: float64

In [52]:
"""
indexing
"""
print(states['area'])

Cal    423
Tex    695
Ny     123
Name: area, dtype: int64

In [59]:
"""
dataframe manipulation
"""
print(states)
states['density'] = states['population'] / states['area']
print(states)

     population  area   density
Cal         383   423  0.905437
Tex         264   695  0.379856
Ny          200   123  1.626016
     population  area   density
Cal         383   423  0.905437
Tex         264   695  0.379856
Ny          200   123  1.626016

In [67]:
# indexer loc : iloc
states.iloc[0 : 3]

     population  area   density
Cal         383   423  0.905437
Tex         264   695  0.379856
Ny          200   123  1.626016